.container{
    margin-bottom: 100px ;
}
.background-color{
    background-color:#FEEAE9;
    border-radius: 10px;
}
.box-padding{
    padding: 20px 50px;
}
.price{
    color: #FF136F;
}
.hero-btn{
    background-color: #FF589B;
    border-radius: 4px;
    border: none;
    padding: 7px 15px;
    font-weight: bold;
    color: white;
}
.categorie-1, .categorie-2, .categorie-3{
    border-radius: 5px;
    padding: 10px 20px;
    color: white;
}
.categorie-1{
    background-color: #FF9C35;
}
.categorie-2{
    background-color: #FF589B;
}
.categorie-3{
    background-color: #4289FF;
}
.categorie img{
    width: 130px;
}
.card{
    background-color: #F7F7F7;
    border: none;
    box-shadow: 5px 5px 20px;
}